body
{
	background-color: #0255;
	background-image: url(image/sanfrancisco.jpg);
	background-repeat: repeat-x;
	background-size: 1000px 90px;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;		
}

h1
{
	text-decoration: underline;
	text-align: center;
	color: blanchedalmond;
	margin: 10px;
	padding: 15px;
}

input
{    
     position: absolute;
     right: 5px;
     bottom: 392px;
     margin-right: 2px;
}
input[type="seach"]
{
	background: #fff;
	width: 250px;
	height: 25px;
	border: 2px solid blue;
	outline:none ;
	padding:0 25px;
	border-radius: 25px 0 0 25px;
}
input[type="submit"]
{
   border-radius: 0 25px 25px 0;
   width: 78px;
   height: 29px;
   border: none;
   outline: none;
   cursor: pointer;
   background: #007088;
   color: #fff;
   right: -5px;
   font-size: 14px;
}
input[type="submit"]:hover
{
    background: #ff5722;
}
nav
{
     margin: 0px;
     padding:2px;
     background-color: #424558;
}
nav li
{
	display: inline-flex;    
     list-style-type: none;
     padding: 20px 30px;
     font-size: 18px;
     left: 12px;
     text-decoration: none;
}
nav a
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.ac:hover
{
	background-color:  #4c8;
}
.exp:hover
{
	background-color: #f1dc4f;
}
.lois:hover
{
	background-color: #007088;
}
.cont:hover
{
	background-color: #e44d26;
}

#container
{
	margin: 0px;
	background: #fff;
	padding-top: -15px;
}
.cicle
{
	width: 100px;
	height: 100px;
	background: url(image/kowiyou.jpg);
	background-size: 100px ;
	border-radius: 50%;
	float: left;
	shape-outside: circle();
	margin: 20px;
	cursor: pointer;
}

#container a
{
   text-decoration: none;
   margin: 0px;
   padding: 0px;
   color: red;
}

#container a:hover
{
	color: green;
}



div img
{
	margin-left: 19px;
	cursor: pointer;
}
footer
{
    margin: 0px;
    padding: 0px;
    background-color: rgba(000, 112, 192, 0.15);
}

footer p
{
 	text-align: center;	
 	cursor: pointer;
}
footer a
{
 	cursor: pointer;
 	margin: 5px;
}

footer li
{
	list-style-type: none;
	display: inline-block;	
}
 footer ul
 {
 	margin: 5px;
	padding: 0px;
}
h3
{ 
 	text-align:left;
 	text-decoration: none;
 	color: black;
 	position: relative;
 	top: 33px;
 	left: 5px;
}

 footer h5 
{
	text-align: center;	
}


























